@import url("node_modules/leaflet/dist/leaflet.css");
@import url("node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.css");

html, body, #mapid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#pickachu-data-loading {

    position: fixed;
    width: 20vw;
    top: 40vh;
    bottom: 40vh;
    left: 40vw;
    right: 40vw;
    opacity: 0.9;

    animation-name: pulse_animation;
    animation-duration: 700ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: none;

}

#pickachu-data-loading.visible {
    display: inline;
}


@-webkit-keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
@-moz-keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
@-o-keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
@-ms-keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}